<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24037614646-b52rrqho97lvqb2157bg08e0pdasl667.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24037614646-b52rrqho97lvqb2157bg08e0pdasl667</string>
	<key>API_KEY</key>
	<string>AIzaSyBx9yHF3GapBrFi6Cln4jsmWz54vjlhHLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>24037614646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-backend-f5025</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-backend-f5025.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24037614646:ios:7626c9d93107aa8cc2a497</string>
</dict>
</plist>